/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .corpus {
     background: url("https://cdn.discordapp.com/attachments/318828901931548682/809064638905057300/coffee-791439_1920.jpg");
     background-repeat: no-repeat;
        background-size: auto;
        height: 800px;
        
        margin: auto;
 }

 p{
    color: rgb(0, 119, 255);
    margin: 1%;
 }

 h1 {
     text-align: center;
     color: rgb(70, 19, 153);
     margin: 1%;
 }